.caw-filportfolio-filter {
    margin-bottom: 10px !important;
}
.caw-filportfolio-filter li.filter.active {
    background: #3452ff;
    color: #fff;  
}
.caw-filportfolio-filter li {
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 4px;
    cursor: pointer;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out 0s;
}
.caw-filportfolio-filter li:hover{
    background:#3452ff;
    color:#fff;
    border-color:#3452ff;
}
.caw-filportfolio-single {
    position: relative;
}
.caw-filterable-item img {
    display: block;
}
.caw-filportfolio-img .caw-filterable-item {
    display: block;
    position: relative;
}
.caw-filportfolio-img .caw-filterable-item::before {
    background: #3452ff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 99;
}
.caw-filportfolio-single:hover .caw-filportfolio-img .caw-filterable-item::before{opacity:.8;right:15px;left:15px;top:15px;bottom:15px}
.caw-filportfolio-info {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.caw-filportfolio-info-icon{}
.caw-filportfolio-info-icon i {
    background: #fff none repeat scroll 0 0;
    color: #3452ff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    z-index: 99;
    margin: 0 5px;
    opacity:0;
    transition:.3s;
}
.caw-filportfolio-info-icon i:hover{background: #3452ff;color:#fff}
.caw-filportfolio-single:hover .caw-filportfolio-info-icon i{opacity:1;}
.caw-filportfolio-content .mix {display:none}
.caw-filportfolio-content .row {
    display: block;
}